.login-page {
  background-color: rgba(89, 132, 233, 0.578);
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: gradient;
  min-height: 110vh;
  /*display: flex;
   flex-direction: column; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  align-items: center;
  width: 100%;
  min-width: none;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap;
  width: 33%; */
}

.container-1 {
  font-size: calc(12px + 2vmin);
  margin-top: 2%;
  margin-bottom: 10%;
  text-align: center;
  border-style: solid;
  border-width: 0.1vw;
  border-color: black;
  padding: 5%;
  /* display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;
  flex-grow: 1; */
}


.buttons {
  margin-top: 6%;
}

.spaceinbetweenbutton {
  width: 10px;
  height: auto;
  display: inline-block;
}

.container-1:hover {
  background-color: rgb(241, 241, 241);
}

.container-1:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.container-1:focus-visible {
  box-shadow: none;
}

.container-2 {
  font-size: calc(8px + 2vmin);
  margin-top: 10%;
  text-align: center;
  align-items: center;
  width: 100%
}

.container-2>div {
  text-align: center;
  margin-top: 2%;
  align-items: center;
  width: 100%
}

.container-3 {
  font-size: calc(8px + 2vmin);
  text-align: center;
  align-items: center;
  width: 100%
}

.form {
  max-width: 660px;
  margin: 0 auto;
  flex-direction: column;
  background: white;
  margin-top: 0;
  padding: 5%;
}

.form .form__custom-button {
  margin-top: 50px;
}

.sublist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sublist-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eae8e8;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media only screen and (min-width: 902px) {
  .column22 {
    width: 33.3333%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .column {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .column {
    width: 50%;
  }
}